@font-face {
    font-family: 'Eudoxus Sans', sans-serif;
    src: url('../fonts/EudoxusSans-Regular.woff2') format('woff2'),
        url('../fonts/EudoxusSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
   
  @font-face {
    font-family: 'Eudoxus Sans', sans-serif;
    src: url('../fonts/EudoxusSans-Bold.woff2') format('woff2'),
        url('../fonts/EudoxusSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
   
  @font-face {
    font-family: 'Eudoxus Sans', sans-serif;
    src: url('../fonts/EudoxusSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/EudoxusSans-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
   
  @font-face {
    font-family: 'Eudoxus Sans', sans-serif;
    src: url('../fonts/EudoxusSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/EudoxusSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
   
  @font-face {
    font-family: 'Eudoxus Sans', sans-serif;
    src: url('../fonts/EudoxusSans-Medium.woff2') format('woff2'),
        url('../fonts/EudoxusSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
   
  @font-face {
    font-family: 'Eudoxus Sans', sans-serif;
    src: url('../fonts/EudoxusSans-Light.woff2') format('woff2'),
        url('../fonts/EudoxusSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  .eudoxus-regular {
    font-family: 'Eudoxus Sans', sans-serif;
    font-weight: 400;
  }
  
  .eudoxus-bold {
    font-family: 'Eudoxus Sans', sans-serif;
    font-weight: 700;
  }
  
  .eudoxus-extrabold {
    font-family: 'Eudoxus Sans', sans-serif;
    font-weight: 900;
  }
  
  .eudoxus-extralight {
    font-family: 'Eudoxus Sans', sans-serif;
    font-weight: 200;
  }
  
  .eudoxus-medium {
    font-family: 'Eudoxus Sans', sans-serif;
    font-weight: 500;
  }
  
  .eudoxus-light {
    font-family: 'Eudoxus Sans', sans-serif;
    font-weight: 300;
  }
  
  
  :root{
    /* Define font variables */
    --font-family: 'Eudoxus Sans', sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 900;
    --font-weight-extra-light: 200;
    --font-weight-medium: 500;
    --font-weight-light: 300;
   
    /* define colors */
    --black: #202020;
    --white: #fff;
    --blue: #8D35C1;
  }
   
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    background-color: var(--white);
  }
  /* close font */
  /* sign in page */
  .login,
  .image {
    min-height: 100vh;
  }
  .input-group {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    padding: 15px 14px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background:var(--white);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
  /* input.inpt
  {
    border: none;
  } */
  input:focus-visible {
    outline: none;
  
  }
  
  .bg-image {
    background-image: url('../images/signin-banner.png');
    background-size: cover;
    background-position: center center;
    background-color: var(--blue);
    position: relative;
  }
  span.input-group-text {
    background: var(--white);
  }
  span.form-icon {
    position: absolute;
    z-index: 9999;
    /* top: 10px; */
  }
  a.free-acoun-btn{
    padding: 18px;
    width: 100%;
    border-radius: 16px;
    margin: 40px 0 0;
    text-align: center;
  }
  .sign-link{
    color: var(--blue);
    text-decoration: none;
  }
  .centered{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 25px;
  }
  h3.sign-text{
    font-size: 40px;
    color:var(--black);
  }
  .text-muted{
    font-size: 16px;
    color: var(--black) !important;
  }
  .form-label{
    color: #101C2D;
    font-size: 14px;
    font-family:var( --font-family);
    font-weight: var(--font-weight-medium);
  }
  ::placeholder{
    font-family:var( --font-family);
    font-size: 14px;
    color: #101C2D;
  }
  .check{
    color: #101C2D;
    font-size: 14px;
    font-weight: var(--font-weight-medium);
  }
  .centered h2 {
    /* width: 85%; */
    color:var(--white);
    font-size: 56px;
  }
  .centered p{
    /* font-size: 18px; */
    color:var(--white);
  }
  .wel-img p{
    font-size: 16px;
    margin-bottom: 0;
  }
  .wel-img img{
    height: 37px;
  }
  form{
    margin-top: 40px;
  }
  .welcome-section .centered h2{
    margin-bottom: 40px;
  }
  .welcome-section .centered p{
    margin-bottom: 30px;
  }
  .welcome-section .centered .wel-img p{
    margin-bottom: 0;
  }
  .welcome-section .wel-img{
    margin-top: 10px;
  }
  .welcome-section .wel-img + .wel-img{
    margin-left: 10px;
  }
  /* sign in */
  .sign-in-main{
  background-image: url(../images/signin.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .sign-in-main .centered{
    width: 582px;
    padding: 25px;
  }
  .sign-in-main .centered .sign-bg{
    width: 100%;
    margin: 0;
  }
  .sign-in-main .sign-in-form{
    margin-top: 40px;
  }
  .sign-bg{
    background-color: var(--white);
    padding: 40px  40px;
  }
  .rem label.eudoxus-medium{
  margin: 0 0 0 10px;
  }
  .rem label{
    cursor: pointer;
  }
  span.forgot-pw a{
    color: var(--blue);
    font-size: 14px;
  }
  input[type='checkbox'] {
    accent-color: var(--blue);
  }
  .input-group input[type="password"] {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    padding-right: 40px; /* space for the show/hide password icon */
  }
  
  .toggle-password-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .toggle-password-icon img {
    width: 20px;
    height: auto;
  }

  /* design changes for signin start */
  .input-group-box{
    position: relative;
    margin-bottom: 20px;
  }
  .input-group-box::before{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
  }
  .sign-in-main .input-group-box input, .login .input-group-box input{
    padding-left: 50px;
    margin: 0;
  }

  .input-group-box.email-group::before{
    background-image: url('../images/email.png');
  }
  .input-group-box.pass-group::before{
    background-image: url('../images/Union.png');
    background-size: 16px;
    width: 20px;
    height: 20px;
  }
  .input-group-box.signup-group::before{
    background-image: url('../images/user-signup.svg');
    background-size: 16px;
  }
  .input-group-box.company-group::before{
    background-image: url('../images/briefcase.png');
  }
  .custom-control .custom-control-label .sign-link{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
  .custom-control .custom-control-label .sign-link::before{
    display: none;
  }
  .custom-control .custom-control-label{
    margin-left: 5px;
  }
  

@media (min-width: 1600px){
  .centered {
    padding: 0 115px;
  }
}
@media (min-width: 1400px){
  .centered {
    padding: 0 60px;
  }
}