/* font */

@font-face {
  font-family: 'Eudoxus Sans', sans-serif;
  src: url('../fonts/EudoxusSans-Regular.woff2') format('woff2'),
      url('../fonts/EudoxusSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eudoxus Sans', sans-serif;
  src: url('../fonts/EudoxusSans-Bold.woff2') format('woff2'),
      url('../fonts/EudoxusSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eudoxus Sans', sans-serif;
  src: url('../fonts/EudoxusSans-ExtraBold.woff2') format('woff2'),
      url('../fonts/EudoxusSans-ExtraBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eudoxus Sans', sans-serif;
  src: url('../fonts/EudoxusSans-ExtraLight.woff2') format('woff2'),
      url('../fonts/EudoxusSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eudoxus Sans', sans-serif;
  src: url('../fonts/EudoxusSans-Medium.woff2') format('woff2'),
      url('../fonts/EudoxusSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eudoxus Sans', sans-serif;
  src: url('../fonts/EudoxusSans-Light.woff2') format('woff2'),
      url('../fonts/EudoxusSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root{
  /* Define font variables */
  --font-family: 'Eudoxus Sans', sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;
  --font-weight-extra-light: 200;
  --font-weight-medium: 500;
  --font-weight-light: 300;

  /* define colors */
  --black: #000;
  --white: #fff;
  --sidebar-bg: #101C2D;
  --sidebar-fonts-color: #CCD4E0;
  --sidebar-active-bg: #2F3A4C;
  --border-color-dasboard: #CCD4E0;
  --dashboard-fonts-primary: #101C2D;
  --dashboard-fonts-secondary: #414E62;
  --dashboard-top-bar-bg: #DDE4EE;
  --dashboard-body-bg: #F9FAFB;
  --dashboard-body-border: #DDE4EE;
  --heading-title: #202020;
  --grey-bg: #F1F4F9;
  --purple-color: #8D35C1;
  --purple-bg: #E0CCEA;
  --grey-placeholder: #919FB6;
  --dark-grey-bg: #66768E;
  --accordion-text-color: #2F3A4C;

  /* font size */
  --primary-font-size: 16px; 
  --primary-line-height: 26px; 
  --secondary-font-size: 14px; 
  --secondary-line-height: 20px; 
  --heading-title-font-size: 28px;
  --heading-font-size: 40px;
  --heading-line-height: 56px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  font-weight: var(--font-weight-normal);
  background-color: var(--white);
  color: var(--dashboard-fonts-primary);
}

/* custom scrollbar */
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--dark-grey-bg); 
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grey-bg); 
}

h1, .heading-title{
  font-family: var(--font-family);
  font-size: var(--heading-font-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
  color: var(--heading-title);
  margin-bottom: 10px;
}
h2 {

}

h3, .child-heading-title{

}

p{
  font-family: var(--font-family);
  font-size: var(--primary-font-size);
  line-height: var(--dashboard-fonts-primary);
  color: var(--dashboard-fonts-primary);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--dashboard-fonts-primary);
  font-family: var(--font-family);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-medium);
}
a:visited, a:focus, a:active{
  color: var(--dashboard-fonts-primary);
  text-decoration: none;
}
a:hover{
  color: var(--black);
}

ul{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}

img {
  display: block; 
  max-width: 100%; 
  height: auto; 
}

/* sign up link */
.sign-link{
  color: var(--purple-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  font-family: var(--font-family);
  text-decoration: none;
  position: relative;
}
.sign-link:visited, .sign-link:focus{
  color: var(--purple-color);
}
.sign-link::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--purple-color);
  left: 0;
  right: auto;
  bottom: -3px;
  transition: all .3s ease-in;
}
.sign-link:hover::before{
  width: 0;
  right: 0;
  left: auto;
}

/* required-field design start */
.required-field{
  position: relative;
}
.required-field::after{
  content: '*';
  position: absolute;
  color: red;
  font-size: var(--secondary-font-size);
  line-height: normal;
  right: -10px;
  top: 2px;
}

/* btn css */
.btn-cta{
  background-color: var(--white);
  border: 1px solid var(--border-color-dasboard);
  color: var(--dashboard-fonts-primary);
  border-radius: 8px;
  padding: 10px 16px;
  font-family: var(--font-family);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-bold);
  outline: 0;
  margin-bottom: 10px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s ease-in;
}
.btn-cta:hover{
  background-color: var(--white);
  color: var(--dark-grey-bg);
  border-color: var(--dark-grey-bg);
}
.btn-cta:visited, .btn-cta:active, .btn-cta:focus{
  background-color: var(--white);
  color: var(--dashboard-fonts-primary);
}
.btn-cta-back{
  background-color: var(--grey-bg);
}
.btn-cta-back:hover{
  background-color: var(--white);
  color: var(--dark-grey-bg);
  border-color: var(--dark-grey-bg);
}
.btn-cta-save{
  background-color: var(--purple-color);
  color: var(--white);
  border-color: var(--purple-color);
}
.btn-cta-save:hover{
  background-color: var(--white);
  color: var(--purple-color);
  border-color: var(--purple-color);
}

.btn-cta-cancel{
  background-color: var(--border-color-dasboard);
  color: var(--dark-grey-bg);
  border-color: var(--border-color-dasboard);
}
.btn-cta-cancel:hover{
  background-color: var(--white);
  color: var(--dark-grey-bg);
  border-color: var(--dark-grey-bg);
}
.icon-btn-div{
  padding: 14px 14px 14px 44px;
  position: relative;
  margin-left: 16px;
}
.icon-btn-div::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url('../images/add-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: all .4s ease-in;
}
.icon-btn-div:hover::before{
  transform: translateY(-50%) rotate(180deg);
}
.icon-btn-div:hover{
  background-color: #ae69d7;
  color: var(--white);
}
.icon-btn-div:visited, .icon-btn-div:focus{
  background-color: var(--purple-color);
  color: var(--white);
}
.icon-btn-div:visited:hover, .icon-btn-div:focus:hover{
  background-color: #ae69d7;
}

/* input, textarea, select */
input,
textarea,
select {
  background-color: var(--white);
  border: 1px solid var(--border-color-dasboard);
  color: var(--dashboard-fonts-primary);
  border-radius: 8px;
  padding: 16px 12px;
  font-family: var(--font-family);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-normal);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
}

input:visited, input:focus, input:active, 
textarea:visited, textarea:focus, textarea:active, 
select:visited, select:focus, select:active {
  outline: 0;
}

input{
  height: 56px;
}

select{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../images/chevron-default.svg);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 12px);
  background-position-y: 50%;
  background-size: 14px;
  padding-right: 40px;
}

textarea{
  height: 100px;
}

input::placeholder, textarea::placeholder{
  color: var(--dashboard-fonts-primary);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-normal);
}
.form-group.form-group-filled input::placeholder{
  color: var(--grey-placeholder);
}

label{
  font-family: var(--font-family);
  color: var(--dashboard-fonts-primary);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-medium);
  margin-bottom: 6px;
  display: inline-block;
}

/* checkbox design start*/
input[type=checkbox] ~ label{
  margin: 0;
  display: inline-block;
}

input[type=checkbox]{
  height: 20px;
  width: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 2px solid var(--border-color-dasboard);
  appearance: none;
  padding: 0;
  line-height: 0;
  background: none;
  position: relative;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

input[type=checkbox]:checked {
  background-color: var(--purple-color);
  border-color: var(--purple-color);
  opacity: 1;
  transition: all .4s ease-in-out;
}
input[type=checkbox]::before{
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  transition: all .4s ease-in;
}

input[type=checkbox]:checked::before{
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  opacity: 1;
  visibility: visible;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) translate(-50%, -60%);
  z-index: 2;
  transition: all .4s ease-in-out;
}

/* breadcrumb design start */
.dashboard-detailed-section .detail-section-wrapper .breadcrumb-container.order-title{
  padding: 20px 0;
}
.dashboard-detailed-section .detail-section-wrapper .breadcrumb-container .cancel-btn .btn-cta{
  margin: 0;
}
.breadcrumb-wrapper{
  width: 100%;
}
.breadcrumb-wrapper .breadcrumb-list{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.breadcrumb-wrapper .breadcrumb-list .breadcrumb-item{
  color: var(--purple-color);
  font-family: var(--font-family);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-bold);
  /* padding: 4px 15px;
  display: block; */
}
.breadcrumb-wrapper .breadcrumb-list .breadcrumb-item .breadcrumb-link{
  color: var(--purple-color);
  font-weight: var(--font-weight-bold);
}
.breadcrumb-wrapper .breadcrumb-list .breadcrumb-item{
  position: relative;
}
.breadcrumb-wrapper .breadcrumb-list .breadcrumb-item+.breadcrumb-item{
 padding-left: 4px;
}
.breadcrumb-wrapper .breadcrumb-list .breadcrumb-item+.breadcrumb-item::before {
  content: "";
  position: relative;
  display: inline-block;
  background-image: url('../images/breadcrumb-arrow.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px 10px;
  width: 24px;
  height: 19px;
  left: 0;
  top: 50%;
  /* transform: translateY(-50%); */
  /* float: none; */
  padding-right: 8px;
  color: var(--dashboard-fonts-primary);
}
.breadcrumb-wrapper .breadcrumb-list .breadcrumb-item.current{
  color: var(--dashboard-fonts-primary);
}
/* .breadcrumb-wrapper .breadcrumb-list .breadcrumb-item:first-child .breadcrumb-link{
  padding-left: 0;
} */
/* breadcrumb design end */

/* Work Order design start */
.order-dashboard{
  min-height: 100vh;
}
.order-dashboard .work-order-section{
  min-height: 100vh;
  position: relative;
}
.order-dashboard .work-order-section.sticky .dashboard-topbar{
  position: fixed;
  width: calc(100% - 256px);
  top: 0;
  right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 9;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease-in;
}
.order-dashboard .work-order-section.sticky.sidebar-collapsed .dashboard-topbar{
  width: calc(100% - 76px);
}
.work-order-section .side-navbar{
  max-width: 256px;
  flex: 0 0 256px;
  padding: 0 14px;
  background-color: var(--sidebar-bg);
  color: var(--white);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-medium);
  transition: max-width 0.5s ease, flex 0.5s ease;
  position: sticky;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.work-order-section .side-navbar .nav-top{
  padding: 24px 0;
  margin-bottom: 10px;
}
.work-order-section .side-navbar .nav-top .nav-logo .logo-img{
  height: 40px;
}
.work-order-section .side-navbar .nav-top .nav-logo p{
  padding-left: 12px;
  color: var(--white);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family);
}
.work-order-section .side-navbar .nav-top .nav-back-arrow{
  padding-left: 10px;
  cursor: pointer;
}
.work-order-section .side-navbar .nav-top .nav-back-arrow .menu-arrow{
  display: none;
}
.work-order-section .side-navbar .nav-top .nav-back-arrow img{
  height: 24px;
  transform: scale(1);
  transition: transform .4s ease-in-out;
}
.work-order-section .side-navbar .nav-top .nav-back-arrow img:hover{
  transform: scale(1.2);
}
.work-order-section .side-navbar .nav-bottom .nav-list .nav-links{
  padding: 12px;
  margin-bottom: 6px;
  border-radius: 4px;
  transition: all .4s ease-in;
}

.work-order-section .side-navbar .nav-bottom .nav-list .nav-items.nav-items-sub-dropdown .nav-links .dropdown-arrow{
  height: 8px;
  transform: rotate(-180deg);
  transition: all .4s ease-in;
}
.work-order-section .side-navbar .nav-bottom .nav-list .nav-items.nav-items-sub-dropdown .nav-links.active{
  background-color: var(--sidebar-active-bg);
}
.work-order-section .side-navbar .nav-bottom .nav-list .nav-items.nav-items-sub-dropdown .nav-links.active span{
  color: var(--white);
}
.work-order-section .side-navbar .nav-bottom .nav-list .nav-items.nav-items-sub-dropdown .nav-links.active .dropdown-arrow{
  transform: rotate(0);
}

.work-order-section .side-navbar .nav-bottom .nav-list .nav-items.nav-items-sub-dropdown .nav-list-dropdown{
  display: none;
  overflow: auto;
  /* max-width: 100%;
  flex: 0 0 100%; */
}
.work-order-section .side-navbar .nav-bottom .nav-list .nav-items.nav-items-sub-dropdown .nav-list-dropdown .dropdown-list{
  margin-bottom: 6px;
  border-radius: 4px;
  transition: all .4s ease-in;
}
.work-order-section .side-navbar .nav-bottom .nav-list .nav-items.nav-items-sub-dropdown .nav-list-dropdown .dropdown-list a{
  padding: 12px 12px 12px 34px;
  border-radius: 4px;
  display: block;
}
.work-order-section .side-navbar .nav-bottom .nav-list .nav-items.nav-items-sub-dropdown .nav-list-dropdown .dropdown-list:hover{
  background-color: var(--sidebar-active-bg);
}
.work-order-section .side-navbar .nav-bottom .nav-list .nav-items.nav-items-sub-dropdown .nav-list-dropdown .dropdown-list:hover a{
  color: var(--white);
}
.work-order-section .side-navbar .nav-bottom .nav-list .nav-items.nav-items-sub-dropdown .nav-list-dropdown a{
  color: var(--sidebar-fonts-color);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-medium);
  transition: all .4s ease-in;
}
.work-order-section .side-navbar .nav-bottom .nav-list .nav-items:hover .nav-links{
  background-color: var(--sidebar-active-bg);
}
.work-order-section .side-navbar .nav-bottom .nav-list .nav-items:hover .nav-links span{
  color: var(--white);
}
.work-order-section .side-navbar .nav-bottom .nav-list .nav-items .list-icons{
  height: 20px;
}
.work-order-section .side-navbar .nav-bottom .nav-list .nav-items .nav-links span{
  padding-left: 12px;
  color: var(--sidebar-fonts-color);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-medium);
  transition: all .4s ease-in;
}

/* dashboard main body design */
.work-order-section .dashboard-topbar .topbar-logo{
  max-width: 0;
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.work-order-section .dashboard-topbar .topbar-logo .nav-title{
  padding-left: 12px;
  color: var(--dashboard-fonts-primary);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family);
  margin: 0;
}
.dashboard-wrapper .dashboard-topbar{
  padding: 20px 20px 10px 20px; 
  background-color: var(--white);
  transition: all 0.5s ease-in;
}
.dashboard-wrapper .profile-wrapper .tool-box{
  padding: 12px;
  border: 1px solid var(--border-color-dasboard);
  border-radius: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}
.dashboard-wrapper .profile-wrapper .tool-box + .tool-box{
  margin-left: 16px;
}
.dashboard-wrapper .profile-wrapper .tool-box .tool-box-image{
  height: 20px;
}
.dashboard-wrapper .profile-wrapper .tool-box.bell-anim img{
  -webkit-animation: ring 4s .7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s .7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s .7s ease-in-out infinite;
  transform-origin: 50% 4px;
}

.dashboard-wrapper .profile-wrapper .tool-box.rotate-image img{
  animation: rotation 2s infinite linear;
}

/* keyframes for setting rotate continous */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* keyframes for ring bell svg start */
@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}
/* keyframes for ring bell svg end */

.dashboard-wrapper .profile-wrapper .user-profile-box{
  margin: 0 0 10px 16px;
  position: relative;
  cursor: pointer;
}
.dashboard-wrapper .profile-wrapper .user-profile-box .user-avatar{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid var(--border-color-dasboard);
  position: relative;
}
.dashboard-wrapper .profile-wrapper .user-profile-box .user-avatar::before{
  content: '';
  position: absolute;
  background-image: url(../images/presence-badge.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  z-index: 1;
}
.dashboard-wrapper .profile-wrapper .user-profile-box .user-avatar img{
  height: 40px;
  overflow: hidden;
}
.dashboard-wrapper .profile-wrapper .user-profile-box .user-info{
  padding-left: 8px;
}
.dashboard-wrapper .profile-wrapper .user-profile-box .user-info .user-name, .dashboard-wrapper .profile-wrapper .user-profile-box .user-info .user-title{
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family);
}
.dashboard-wrapper .profile-wrapper .user-profile-box .user-info .user-name{
  color: var(--dashboard-fonts-primary);
}
.dashboard-wrapper .profile-wrapper .user-profile-box .user-info .user-title{
  color: var(--dashboard-fonts-secondary);
}
.dashboard-wrapper .profile-wrapper .user-profile-box .user-dropdown {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.dashboard-wrapper .profile-wrapper .user-profile-box .user-dropdown img{
  height: 8px;
  transition: all .4s ease-in;
}
.dashboard-wrapper .profile-wrapper .user-profile-box .user-dropdown.active img{
  transform: rotate(-180deg);
}
.dashboard-wrapper .profile-wrapper .user-profile-box .profile-dropdown-list{
  position: absolute;
  width: 100%;
  background-color: var(--white);
  z-index: 1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  top: 100%;
  right: 0;
  display: none ;
  border-radius: 7px;
  min-width: 180px;
  margin-top: 5px;
}
.dashboard-wrapper .profile-wrapper .user-profile-box .profile-dropdown-list .profile-dropdown-list-item a{
  padding: 15px;
  display: block;
  transition: all .4s ease-in;
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-medium);
  color: var(--dashboard-fonts-primary);
}
.dashboard-wrapper .profile-wrapper .user-profile-box .profile-dropdown-list .profile-dropdown-list-item + .profile-dropdown-list-item{
  border-top: 1px solid var(--border-color-dasboard);
}
.dashboard-wrapper .profile-wrapper .user-profile-box .profile-dropdown-list .profile-dropdown-list-item:hover a{
  background-color: var(--dashboard-top-bar-bg);
}
.dashboard-detailed-section{
  background-color: var(--dashboard-body-bg);
  padding: 20px;
}
.dashboard-detailed-section .detail-section-wrapper{
  border: 1px solid var(--border-color-dasboard);
  padding: 0 20px;
  border-radius: 6px;
  background-color: var(--white);
}
.dashboard-detailed-section .detail-section-wrapper .order-title{
  padding: 24px 0 14px;
  border-bottom: 1px solid var(--border-color-dasboard);
  margin-bottom: 20px;
}
.dashboard-detailed-section .detail-section-wrapper .order-title .heading-title{
  margin-bottom: 10px;
  padding-right: 12px;
  font-family: var(--font-family);
  font-size: var(--heading-title-font-size);
  font-weight: var(--font-weight-bold);
  line-height: 40px;
  color: var(--heading-title);
}
.dashboard-detailed-section .detail-section-wrapper .order-title .detailed-btn{
  margin-bottom: 10px;
}
.dashboard-detailed-section .detail-section-wrapper .order-title .detailed-btn + .detailed-btn{
  margin-left: 10px;
}
.accordion-wrapper .accordion-box{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.accordion-wrapper .accordion-box .accordion-inner-box{
  border: 1px solid var(--border-color-dasboard);
  background-color: var(--grey-bg);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 12px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all .4s ease-in;
}

.accordion-wrapper .accordion-box .child-heading-title, .accordion-wrapper .accordion-box .sub-child-heading{
  font-family: var(--font-family);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  font-weight: var(--font-weight-bold);
  color: var(--dashboard-fonts-primary);
  margin-bottom: 0;
  flex: 1;
  padding-right: 10px;
  transition: all .2s ease-in;
}
.accordion-wrapper .accordion-box .accordion-sub-box{
  max-width: 100%;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  display: none;
  position: relative;
}
.accordion-wrapper .accordion-box .accordion-sub-box-title{
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}
.accordion-wrapper .accordion-box .accordion-sub-box .acordion-subtitle{
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
}
.accordion-wrapper .accordion-box .accordion-sub-box .acordion-subtitle img{
  height: 24px;
}
.accordion-wrapper .accordion-box .accordion-sub-box .acordion-subtitle .sub-child-heading{
  padding: 12px 10px 12px 8px;
}
.accordion-wrapper .accordion-box .accordion-sub-box .accordion-arrow{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.accordion-wrapper .accordion-box .accordion-content-box{
  max-width: 100%;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  display: none;
  position: relative;
}
.accordion-wrapper .accordion-box .accordion-content-box .accordion-sub-box-title{
  margin-bottom: 10px;
  cursor: default;
}
.accordion-wrapper .accordion-box .accordion-sub-box.accordion-content-box .edit-button-div{
  width: 100%;
}
.accordion-wrapper .accordion-box .accordion-arrow{
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordion-wrapper .accordion-box .accordion-arrow img{
  height: 8px;
  transition: all .4s ease-in;
}
.accordion-wrapper .accordion-box .accordion-inner-box.active {
  background-color: var(--purple-bg);
  border-color: var(--purple-color);
}
.accordion-wrapper .accordion-box .accordion-inner-box.active .child-heading-title{
  color: var(--purple-color);
}
.accordion-wrapper .accordion-box .accordion-inner-box.active .accordion-arrow img, .accordion-wrapper .accordion-box .accordion-sub-box.active .accordion-arrow img{
  transform: rotate(180deg);
}
.accordion-wrapper .accordion-box .edit-button-div{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.accordion-wrapper .accordion-box .editing-buttons{
  margin-top: 20px;
}
.accordion-wrapper .accordion-box .edit-button-div a{
  min-width: 148px;
  text-align: center;
}
.accordion-wrapper .accordion-box .edit-button-div a + a{
  margin-left: 10px;
}
.image-upload-section .image-upload-detailed{
  margin-bottom: 10px;
}
.image-upload-section .child-heading{
  color: var(--dashboard-fonts-primary);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  margin-bottom: 10px;
}
.image-upload-section .upload-wrapper .add-image-box{
  margin-right: 20px;
}
.image-upload-section .upload-wrapper .add-image-box .upload-btn{
  width: 160px;
  height: 160px;
  border: 2px dashed var(--border-color-dasboard);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.image-upload-section .upload-wrapper .add-image-box .upload-btn .add-iamge-text{
  display: block;
  margin-top: 8px;
}
.image-upload-section .upload-wrapper .upload-image-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.image-upload-section .upload-wrapper .upload-image-box .image-container{
  max-width: 50%;
  flex: 0 0 50%;
  /* flex: 1; */
  height: 160px;  
  padding: 0 10px;
  margin-bottom: 10px;
  
}
.image-upload-section .upload-wrapper .upload-image-box .image-container .image-box-wrapper{
  position: relative;
  border-radius: 8px;
  height: 100%;
  border: 2px dashed var(--border-color-dasboard);
  transition: all .5s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
.image-upload-section .upload-wrapper .upload-image-box .image-container .image-box-wrapper img{
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}
.image-upload-section .upload-wrapper .upload-image-box .image-container .image-box-wrapper .custom-icon{
  background-color: rgb(25, 25, 25, 0.5);
  width: 36px;
  height: 36px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
  transition: all .5s ease-in-out;
}
.image-upload-section .upload-wrapper .upload-image-box .image-container .image-box-wrapper .custom-icon.delete-icon{
  right: 44px;
}
.image-upload-section .upload-wrapper .upload-image-box .image-container .image-box-wrapper .custom-icon img{
  height: 24px;
}
.image-upload-section .upload-wrapper .upload-image-box .image-container .image-box-wrapper:hover .custom-icon{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all .5s ease-in-out;
}
.map-details-section-acc .google-map iframe{
  width: 100%;
  max-height: 500px;
}
/* form design */

.form-wrapper{
  display: none;
}
.form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form .form-group{
  max-width: calc(33.33% - 10px);
  flex: calc(33.33% - 10px);
}
.form .form-group.form-group-filled input{
  background-color: var(--grey-bg);
}
.form .form-group.form-group-fullwidth{
  max-width: 100%;
  flex: 0 0 100%;
}
.form .form-group.form-group-halfwidth{
  max-width: calc(50% - 10px);
  flex: 0 0 calc(50% - 10px);
}
.form .form-group .date-picker{
  background-image: url(../images/calender.svg);
  background-position: calc(100% - 12px);
  background-size: 24px 24px;
  background-repeat: no-repeat;
}
/* Work Order design end */

/* single accordion content box design */
.accordion-content-box{
  display: none;
}

/* Admin page user sub page start */
.admin-detailed-section .order-title-right .detailed-btn{
  margin: 0 0 10px 0;
}
.table-wrapper{
  display: block;
  /* overflow-x: auto; */
}

/* custom scrollbar */
.table-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

/* Track */
.table-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.table-wrapper::-webkit-scrollbar-thumb {
  background: var(--dark-grey-bg); 
  border-radius: 10px;
}

/* Handle on hover */
.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grey-bg); 
}
.table-wrapper table{
  /* min-width: 700px; */
  width: 100%;
}

table.table.dataTable>tbody>tr.selected>*{
  box-shadow: none;
  color: var(--accordion-text-color);
}

table input[type=checkbox] ~ label{
  margin: 0;
  display: none;
}

table input[type=checkbox]{
  height: 20px;
  width: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 2px solid var(--border-color-dasboard);
  appearance: none;
  padding: 0;
  line-height: 0;
  background: none;
  position: relative;
  cursor: pointer;
  transition: all .4s linear;
}

table input[type=checkbox]:checked {
  background-color: var(--purple-color);
  border-color: var(--purple-color);
  opacity: 1;
  transition: all .4s linear;
}
table input[type=checkbox]::before{
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  transition: all .4s linear;
}

table input[type=checkbox]:checked::before{
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  opacity: 1;
  visibility: visible;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) translate(-50%, -60%);
  z-index: 2;
  transition: all .4s linear;
}

.table-wrapper .table thead tr.selected input[type=checkbox]:checked::before{
  right: 70%;
  top: 29%;
  width: auto;
  border: solid var(--white);
  border-width: 0 2px 0px 0;
  transform: rotate(90deg) translate(-50%, -50%);
}

/* table input[type=checkbox] {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}
table label{
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}
table label::before, table label::after{
  position: absolute;
  content: '';
  cursor: pointer;
}
table label::before {
  background-color: var(--white);
  border: 2px solid var(--border-color-dasboard);
  border-radius: 4px;
  height: 20px;
  left: 0;
  top: 50%;
  width: 20px;
  transform: translateY(-50%);
  transform-origin: center;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

table input[type=checkbox]:checked + label::before{
  background-color: var(--purple-color);
  border-color: var(--purple-color);
}
table input[type=checkbox]:checked + label::after{
  top: 45%;
  left: 0;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check .125s .25s cubic-bezier(.4,0,.23,1) forwards;
}

@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #fff;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 4px;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 4px;
    height: 8px;
    border-color: #fff;
    transform: translate3d(0, -8px, 0) rotate(45deg);
  }
} */

.table-wrapper .table tr th, .table-wrapper .table tr td{
  transition: all .4s ease-in;
}
.table-wrapper .table tr.selected th, .table-wrapper .table tr.selected td{
  background-color: var(--purple-bg);
  border-color: var(--white);
}

.table-wrapper .table thead th{
  vertical-align: bottom;
  border-bottom: 1px solid var(--border-color-dasboard);
  border-bottom-color: var(--border-color-dasboard);
  padding: 15px 15px 15px 0;
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  color: var(--accordion-text-color);
  background-color: #F8FAFC;
  vertical-align: middle;
}
.table-wrapper .table thead th:first-child{
  padding-left: 15px;
}
.table>:not(:last-child)>:last-child>* {
  border-bottom-color: var(--border-color-dasboard);
}
.table>:not(caption)>*>*{
  padding: 15px;
  border-color: var(--border-color-dasboard);
}
.table-wrapper table thead th .sort-div{
  vertical-align: middle;
  width: 24px;
  height: 24px;
  display: inline-flex;
  cursor: pointer;
  transition: all .6s ease-in-out;
  transform: scale(1);
  will-change: transform;
  margin-left: 2px;
}
.table-wrapper table thead th .sort-div:hover{
  transform: scale(1.1);
  will-change: transform;
}
.table-wrapper table thead th .sort-div img{
  display: inline-block;
}
.table-wrapper .table tbody td{
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  color: var(--accordion-text-color);
  vertical-align: middle;
  cursor: pointer;
}
.table-wrapper .table tbody tr:nth-child(even){
  background-color: var(--dashboard-body-bg);
}
.table-wrapper .table tbody tr{
  transition: all .4s ease-in;
}
.table-wrapper .table tbody tr:hover{
  background-color: var(--grey-bg);
}
.table-wrapper .table tbody tr:last-child td{
  border-bottom: 0;
}
.table-wrapper .table tbody td{
  padding-left: 0;
}
.table-wrapper .table tbody td:first-child{
  padding-left: 15px;
}
.table-wrapper .table tbody td a{
  color: var(--accordion-text-color);
}
.table-wrapper .table tbody td .profile-avatar{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid var(--border-color-dasboard);
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  display: none;
}
.table-wrapper .table tbody td .profile-avatar img {
  height: 40px;
  overflow: hidden;
}
.table-wrapper .table tbody td .user-title{
  display: inline-block;
  vertical-align: middle;
}
.table-wrapper .table tbody td.activate_tds .response-box .response-btn{
  padding: 6px 12px;
  border-radius: 10px;
  font-size: var(--primary-font-size);
  line-height: 16px;
  color: var(--dashboard-fonts-primary);
  font-weight: var(--font-weight-medium);
  display: block;
  text-align: center;
  min-width: 130px;
  transition: all .4s ease-in;
}
.table-wrapper .table tbody td.activate_tds .response-box.deactivate-btn .response-btn{
  background-color: #FED3D1;
}
.table-wrapper .table tbody td.activate_tds .response-box.activate-btn .response-btn{
  background-color: #AEE9D1;
}
.table-wrapper .table tbody td.activate_tds .response-box.deactivate-btn:hover .response-btn{
  background-color: #f3b4b3;
}
.table-wrapper .table tbody td.activate_tds .response-box.activate-btn:hover .response-btn{
  background-color: #82e9bf;
}
.table-wrapper .table tbody td.activate_tds .response-box.activate-btn{
  display: none;
}
.search-input-container{
  margin: 0 16px 10px 0;
  position: relative;
}
.search-input-container::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url('../images/search-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.search-input-container .search-input{
  height: 48px;
  min-width: 400px;
  padding: 10px 12px 10px 45px;
  margin-bottom: 0;
}
.search-input-container .search-input::placeholder, .search-input-container .search-input::-moz-placeholder{
  color: var(--grey-placeholder);
}
.custom-select{
  position: relative;
}
.custom-select .select-selected{
  padding: 14px 48px 14px 14px;
  border-radius: 8px;
  border: 1px solid var(--border-color-dasboard);
  position: relative;
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  font-weight: var(--font-weight-bold);
  color: var(--dashboard-fonts-primary);
  cursor: pointer;
  margin: 0 16px 10px 0;
}

.custom-select .select-selected::before{
  content: '';
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  width: 10px;
  height: 6px;
  background-image: url(../../assets/images/chevron-default.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all .4s ease-in;
}
.custom-select .select-selected.clicked::before{
  transform: translateY(-50%) rotate(180deg);
}
.custom-select .select-items{
  position: absolute;
  min-width: 180px;
  width: 100%;
  background-color: var(--white);
  z-index: 1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  top: 100%;
  right: 0;
  border-radius: 7px;
  display: none;
}
.custom-select .select-items li{
  padding: 15px;
  display: block;
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  transition: all .4s ease-in;
}
.custom-select .select-items li + li{
  border-top: 1px solid var(--border-color-dasboard);
}
.custom-select .select-items li:hover{
  background-color: var(--dashboard-top-bar-bg);
}
.custom-select .select-items li.items-active{
  background-color: var(--dashboard-top-bar-bg);
}
.dashboard-detailed-section .form-layout .form-field{
  margin-bottom: 20px;
}
.dashboard-detailed-section .form-layout .form-field label{
  margin: 0;
  max-width: 250px;
  flex: 0 0 250px;
  padding-right: 12px;
}
.dashboard-detailed-section .form-layout .form-field input{
  margin: 0;
}
.dashboard-detailed-section .form-layout .btn-cta{
  max-width: max-content;
  margin-left: auto;
  margin-bottom: 20px;
}
.detail-sub-page-section form .btn-cta{
  margin-left: auto;
  margin-bottom: 20px;
}
/* Admin page user sub page end */

/* pagination start */
.page-link{
  color: var(--dashboard-fonts-primary);
}
.page-item.active .page-link{
  background-color: var(--dashboard-top-bar-bg);
  color: var(--dashboard-fonts-primary);
  border-color: var(--dashboard-top-bar-bg);
}
.page-link:hover{
  color: var(--dashboard-fonts-primary);
}
.page-link:focus{
  box-shadow: none;
  color: var(--dashboard-fonts-primary);
}
.page-link:focus-visible{
  outline: 0;
}
.form-select{
  cursor: pointer;
  border-color: var(--border-color-dasboard);
}
.form-select:focus{
  box-shadow: none;
  border-color: var(--border-color-dasboard);
}
/* .pagination {
	background: #333;
	padding: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	display: flex;
	justify-content: center;
}

#numbers {
	padding: 0;
	margin: 0 2rem;
	list-style-type: none;
	display: flex;
}

#numbers li a {
	color: #fff;
	padding: .5rem 1rem;
	text-decoration: none;
	opacity: .7;
}

#numbers li a:hover {
	opacity: 1;
}

#numbers li a.active {
	opacity: 1;
	background: #fff;
	color: #333;
} */
/* pagination end */

/* collapsed sidebar start */
.work-order-section.sidebar-collapsed .side-navbar{
  max-width: 76px;
  flex: 0 0 76px;
}
.work-order-section.sidebar-collapsed .side-navbar .nav-top{
  justify-content: center;
}
.work-order-section.sidebar-collapsed .side-navbar .nav-back-arrow{
  padding-left: 0;
}
.work-order-section.sidebar-collapsed .side-navbar .nav-back-arrow .collapsed-arrow{
  display: none;
}
.work-order-section.sidebar-collapsed .side-navbar .nav-back-arrow .menu-arrow{
  display: block;
}
.work-order-section .side-navbar .nav-bottom .nav-list .nav-items .nav-links span{
  max-width: 170px; 
  transition: max-width 0.5s ease, opacity 0.5s ease;
  overflow: hidden; 
  white-space: nowrap; 
  will-change: max-width, opacity;
}
.work-order-section.sidebar-collapsed .side-navbar .nav-bottom .nav-list .nav-items .nav-links span {
  max-width: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0;
}
.work-order-section .side-navbar .nav-logo{
  max-width: 200px; 
  transition: max-width 0.5s ease, opacity 0.5s ease;
  overflow: hidden; 
  white-space: nowrap; 
  will-change: max-width, opacity;
}
.work-order-section.sidebar-collapsed .side-navbar .nav-logo{
  max-width: 0;
  opacity: 0;
  visibility: hidden;
}
.work-order-section.sidebar-collapsed .nav-items.nav-items-sub-dropdown .dropdown-arrow{
  display: none;
} 
.work-order-section.sidebar-collapsed .nav-bottom .nav-list .nav-links{
  padding: 12px 0;
  justify-content: center;
}
.work-order-section.sidebar-collapsed .dashboard-topbar .topbar-logo{
  max-width: 200px;
  opacity: 1;
  visibility: visible;
  height: auto;
  transition: max-width 0.5s ease, opacity 0.5s ease;
  overflow: hidden; 
  white-space: nowrap; 
  will-change: max-width, opacity;
}

/* collapsed sidebar end */

@media (max-width: 991px){
  .dashboard-detailed-section .form-layout .form-field label{
    max-width: auto;
    flex: auto;
  }
}